# Project-local overrides are optional.
# The runtime will also read /home/knan/.openclaw/.env first.

OPENAI_API_KEY=
OPENAI_BASE_URL=
MODEL=

HTTP_PROXY=
HTTPS_PROXY=

ENABLE_REAL_LITERATURE_SEARCH=true
LITERATURE_PROVIDER=europe_pmc
EUROPE_PMC_BASE_URL=https://www.ebi.ac.uk/europepmc/webservices/rest/search
PUBMED_ESEARCH_URL=https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi
PUBMED_ESUMMARY_URL=https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi
PUBMED_EFETCH_URL=https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi
ENABLE_SECONDARY_LITERATURE_PROVIDER=true
SECONDARY_LITERATURE_PROVIDER=pubmed
LITERATURE_TIMEOUT=20
LITERATURE_MAX_RESULTS=5
